ARC_RPC_URL=https://rpc.testnet.arc.network
ARC_CHAIN_ID=5042002
ARC_ESCROW_CONTRACT=0x4a38251e67229438235B0999cEb086Cb2987b55C
GENLAYER_NETWORK=studionet
GENLAYER_JUDGE_CONTRACT=0xD98cCe08987CDb6Ca6A217FA1BD767c2EF5436aa
PORT=8896
SOURCEBOUNTY_DB_PATH=sourcebounty.db
VITE_API_URL=http://localhost:8896
